@charset "UTF-8";

/* css 안에 글꼴을 가져올때! (구글폰트) */
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

/* 그리드시스템 설정 */
.container {
    position: relative; /* 기준점 : 위치 잡기 위해 */
    width: 100%; /* 모바일, 태블릿의 크기 */
    max-width: 1024px; /* pc 크기 */
    margin: 0 auto;
}
/* ↑ 반응형웹의 그리스시스템 설정 방법!! */

/* ===== header ===== */
/* 모바일 */
header {
    width: 100%;
    height: 300px;
    background: url(../images/header.jpg) no-repeat left top;
    background-size: cover;
}

.logo-menu {
    position: relative; /* gnb의 기준점 */
    width: 100%;
    height: 60px;
    background-color: black;
}

.logo-menu h1 {
    font-family: 'Yeon Sung';
    color: #fff;
    padding: 10px 0 0 20px;
}

.gnb {
    display: none; /* 주메뉴 숨기기 */
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #ccc;
}

.gnb > li {
    padding: 20px;
}

.gnb > li:nth-child(2) {
    background-color: gray;
}

.gnb > li > a {
    color: #000;
}

.gnb > li > a:hover {
    font-weight: 600;
    text-decoration: underline;
}

.mobile-btn {
    position: absolute;
    right: 20px;
    top: 16px;
    cursor: pointer;
}

.mobile-btn > span {
    display: block; /* span에 크기 주기 위해서 */
    width: 30px; height: 2px; /* 흰줄 크기 */
    background-color: #fff;
}

.mobile-btn > span:nth-child(2) {
    margin: 10px 0;
}

/* 태블릿 */
@media (min-width:768px) { /* 모바일퍼스트 헤더 끝내고 복사해서 필요한것만 변경 */
    header {
        height: 400px;
    }
}

/* pc */
@media (min-width:1024px) {
    header {
        height: 500px;
    }

    .gnb {
        display: flex; /* 주메뉴 보이기, 가로 배치 */
        justify-content: space-between; /* 균등 배분을 하려고 */
        position: absolute;
        top: 0; right: 20px;
        width: 300px;
        background-color: transparent;
    }

    .gnb > li {
        padding: 20px 0;
    }
    
    .gnb > li:nth-child(2) {
        background-color: transparent;
    }
    
    .gnb > li > a {
        color: #fff;
    }
    
    .mobile-btn {
        display: none; /* 모바일 메뉴 아이콘 숨기기 */ 
    }
}

/* ===== main ===== */
/* 모바일 */
section {
    padding: 30px;
    background-color: antiquewhite;
}

section#map {
    background-color: #ccc;
}

.flex-content {
    display: flex;
    flex-direction: column; /* 모바일버전은 수직이니까 */
}

.flex-content .photo {
    display: none;
}

.content-txt {
    margin-top: 20px;
}

.content-txt > p {
    font-weight: 600;
}

#choice .content-txt > h3 {
    color: skyblue;
    margin-bottom: 15px;
}

#choice .content-txt li {
    list-style-type: decimal;
    list-style-position: inside; /* 리스트스타일 내어쓰기 */
    margin-bottom: 5px;
}

/* 태블릿 */
@media (min-width:768px) { /* 모바일퍼스트 헤더 끝내고 복사해서 필요한것만 변경 */
    .flex-content {
        flex-direction: row; /* 가로 */
        flex-wrap: wrap; /* 줄바꿈 */
    }
    
    .flex-content > section {
        width: 50%;
        border: 1px dotted #aaa;
    }

    .flex-content > section#choice {
        width: 100%;
    }
}

/* pc */
@media (min-width:1024px) {
    .flex-content {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .flex-content > section {
            width: 100%;
            border: none;
    }
    
    .flex-box {
        display: flex;
    }

    .flex-box .photo {
            display: block; /* 안보이던걸 다시 보이게 */
            margin: 20px 20px 0 0; /* 위, 오, 아래, 왼 */
    }

    section#choice .flex-box .photo {
        order: 2; /* 플렉스 아이템 배치 순서, 좌측상단부터 1 */
        margin-right: 0; /* 위에서 오른쪽에 마진 20px 줬으니까 */
        margin-left: 50px;
    }

    section#choice .flex-box .photo > img {
        border-radius: 50%;
    }

    section#choice .flex-box .content-txt {
        order: 1;
    }
}

/* ===== footer ===== */
footer {
    width: 100%; height: 100px;
    background-color: #000;
}

footer > h2 {
    font-family: 'Yeon Sung';
    color: #fff;
    text-align: center;
    line-height: 100px; /* 수직 가운데 정렬 -> 높이와 맞추기 */
}